-extends "private_base.haml"

-set title = "Cash Deposit History"

-block content
  #admin-history.container
    .row: .span12
       %h2 Cash Deposit History

    .row: .span12
      -include "components/admin_deposits_table.haml"
