.modal.funding_source_create.hide

  %form#funding-source(action="{{ uri_for('funding_source.create') }}", \
                       method="POST", novalidate="novalidate")

    .modal-header
      %a.close(data-dismiss="modal") &times;
      %h3 Add a funding source

    .modal-body
      -include "components/funding_source_create_form.haml"

    .modal-footer
      %a.btn(href="#", data-dismiss="modal") Close
      %button(type="submit", \
        data-spinner="Saving card information...")
        %i.icon-ok
        Save card information

