.modal.hide.transaction-qr
  .modal-header
    %a.close(data-dismiss="modal") &times;
    %h3 Your barcode for #{transaction.recipient.name}

  .modal-body.center
    -set receipt_url = uri_for('transaction.verify', uuid=transaction.uuid)
    %img.qr-code(src="#{receipt_url|qr_code}")

  .modal-footer
    %a.btn(data-dismiss="modal") Close
