-extends "emails/base.html"

-block title
  Survey 

-block content
  %div(style="margin-top: 15px")
    Paragraph text
  %div(style="margin-top: 15px")
    Paragraph text
  %div(style="margin-top: 15px")




