-extends "public_base.haml"

-set title = "Page not found"

-block content
  .hero-unit
    %h1 Woah there!!
    %p Seems like you're off looking for something thats not here,
    %p Wish you better luck next time.
    %p
      Maybe you should
      %a(href="/") go back to the homepage
      and start over.
