-extends "public_base.haml"

-set title = "About Blaze"


-block content
  #about
    %section.what-is.container
      .row
        .offset1.span4.center
          %img.blaze-device(src="/media/about-page/blaze-phone-mockup.png")
        .span5
          %h3 What is
            %img.logo(src="/media/logo-medium.png")
          %p
            Blaze wants to change the way you spend money. Blaze is the faster, \
            safer and smarter way to send and receive money in Jamaica \
            electronically. With Blaze, you can make purchases at any of our \
            mechant partners with just the push of a button!
    %section.parallax.no-cash(data-offset="-700")
      .container
        .row
          .span6.text
            %h3 No Cash?
            %h1 No Problem!

    %section.make-payment.container
      .row
        .span12.center
          %img(src="/media/about-page/make-payment.png")
    %section.parallax.short-on-cash(data-offset="-1000")
      .container
        .row
          .span6.text
            %h1 Short on cash?
            %h3 You can send Blaze credit to anyone, anywhere!
    %section.send-money.container
      .row
        .span12.center
          %img(src="/media/about-page/send-money.png")
    %section.parallax.blaze-fast(data-offset="-1300")
      .container
        .row
          .span6.text
            %h1 Blaze is fast
            %h3 quick &amp; convenient.
    %section.why-blaze.container
      .row
        .span6
          %h3 Why Blaze?
          %p
            You can top up your Blaze account with any major credit card. \
            Don’t have a credit card? Buy from a friend! Want to buy \
            something  from a Blaze partner or send money to a friend? \
            Just Blaze it! All transactions happen instantly.
          %a.btn.get-started(href="#{uri_for('signup')}")
            Get Started &raquo;
        .span6
          %img.center(src="/media/about-page/blaze-tablet-mockup.png")
