-extends "public_base.haml"

-set title = "Home"

-block content
  #landing
    .head: .container: .row
      .span6.text
        %h4 What is Blaze?
        %h5 We want to change the way you spend money.
        %p
          Never worry about carrying cash again!
          Make payments using your smartphone, tablet or computer and
          never worry about declined credit cards, managing bills and waiting
          on change ever again.
        %a.join-beta(href="#{uri_for('signup')}")
          Join our open beta &nbsp
          %i.icon-play
