-extends "private_base.haml"

-set title = "Edit %s"|format(organization.name)

-block content
  #organization-edit: .container
    .row: .span12
      %h2
        Edit #{organization.name}
    .row
      .span6
        %h4
          %i.icon-fire.blue
           #{organization.name}

        -set edit_url = uri_for('organization.edit', id=organization.key().id())
        %form#edit-form(action="#{edit_url}", method="POST")

          .control-group
            %label.control-label(for="name") Organization Name:
            .controls
              %input.span4#name(type="text", name="name", \
                                value="#{organization.name}")

          .form-actions
            %button(type="submit")
              %i.icon-check
              Update Organization
