-extends "public_base.haml"

-set title = "Staff Login"

-block content
  #login: .container
    .row
      .span5.offset4.login-box
        %h4.center Staff Login
        -if error
          .login-error
            %strong Sorry!
            We didn't recognize that username and password combination.
            Give it another try.

        %form#login-form(action="#{uri_for('staff.login')}", method="POST")
          %input#redirect(type="hidden", name="redirect", \
                          value="#{request.get('redirect')}")

          %input#username(type="text", name="username", required="required", \
                       value="#{request.POST.get('email') or ''}", \
                       placeholder="Username")

          %input#password(type="password", name="password", \
                          required="required", placeholder="Password", \
                          autocomplete="off")

          .button-container
            %button.login(type="submit", data-spinner="Logging in...")
              %i.icon-lock"
              &nbsp;
              Login as Staff
