-extends "private_base.haml"

-set title = "Buy Something"

-block content
  #transaction-purchase: .container
    .row: .span12
      %h2 Buy Something

    .row: .span12
      %h4 Select a Merchant
      %p
        Select one of the Blaze partners to pay below

    .row
      .span10
        %ul.organizations
          -for organization in organizations
            -set purchase_url = uri_for(\
                'transaction.purchase', id=organization.key().id())
            %li.span3
              .logo
                %a(href="#{purchase_url}")
                  %img(src="#{organization.logo_url}")

              .name
                %a(href="#{purchase_url}")
                  #{organization.name}

      .span2
        -include "components/basic_info_section.haml"
