.basic-info-section

  %dl
    %dt Available USD balance
    %dd
      $#{"%.2f"|format(current_profile.usd_balance/100)}
    %dt Available JMD balance
    %dd
      $#{"%.2f"|format(current_profile.jmd_balance/100)}
    %dt Name:
    %dd #{current_profile.name}
    %dt Email:
    %dd #{current_profile.email}
