.control-group
  %label.control-label(for="card_number") Card number
  .controls
    %input#card_number(type="number", name="card_number", size="20", \
      autocomplete="off", placeholder="0000-0000-0000-0000")

.control-group
  %label.control-label(for="card_cvc") CVC
  .controls
    %input#card_cvc.input-small(type="number", name="cvc", \
      autocomplete="off", placeholder="999")

.control-group
  %label.control-label Expiration (MM/YYYY)
  .controls
    %input#card_exp_month.input-small(type="number", \
      name="card_exp_month", placeholder="01")
    %span /
    %input#card_exp_year.input-small(type="number", \
      name="card_exp_year", placeholder="2020")

.control-group
  %label.control-label
    Nickname
    %i Optional
  .controls
    %input#nickname(type="text", name="nickname", \
      placeholder="My default card")

