#organization-balance-tab.tab-pane.active
  .row
    .span3
      %h4 Balances after fees
      %dl
        %dt USD
        %dd $#{"%.2f"|format(actual_usd_balance / 100)}

        %dt JMD
        %dd $#{"%.2f"|format(actual_jmd_balance / 100)}

    .span3
      %h4 Current Balances
      %dl
        %dt USD Balance
        %dd $#{"%.2f"|format(organization.usd_balance / 100.0)}

        %dt JMD Balance
        %dd $#{"%.2f"|format(organization.jmd_balance / 100.0)}
